#wrap {}
#wrap header {
    height:80px; overflow:hidden;
    padding:0 80px;
}
#wrap header h1 {float:left; padding-top:24px;}
#wrap header h1 a {}
#wrap header h1 a img {}
#wrap header nav {float:right; padding-top:21px;}
#wrap header nav ul {}
#wrap header nav ul li {float:left; margin:10px 0 0 60px;}
#wrap header nav ul li:first-child {margin-left:0;}
#wrap header nav ul li a {
    font-size:1.13rem; letter-spacing: -0.01em; font-weight:600;
}
#wrap header nav ul .developer_center a {
    color:#0046ff; border:1px solid #0046ff;
    border-radius:20px; padding:10px 20px;
}
/* ==========================================메인시작 */
#wrap main {}
#wrap main .title_bnr {
    background-image:url(../images/customer/title.jpg);
    background-size:cover;
    height:300px; text-align:center; padding:98.5px 0 0;
    position:relative;
}
/*원본 사진과 다르게 배경이 어둡거나 밝게 설정된 경우는 사진이 적용된 부모 요소
기준 마지막 자식 위치에 가상자식을 생성하여 반투명한 배경색을 적용한 경우이다.*/
#wrap main .title_bnr::after {
    content:''; display:block;
    width:100%; height:300px;
    background-color:rgba(0,0,0,0.6);
    position:absolute; left:0; top:0; z-index:10;
}
#wrap main .title_bnr h1, #wrap main .title_bnr p {
    color:#fff; letter-spacing:-0.02em;
    position:relative; z-index:20;
}
#wrap main .title_bnr h1 {margin:0 0 30px; font-size:3rem; font-weight:700;}
#wrap main .title_bnr p {font-size:1.56rem; font-weight:600;}
/* ==========================================탭 메뉴 시작 */
#wrap main .tab_menu {margin-top:100px; text-align:center;}
#wrap main .tab_menu a {
    border:1px solid #eee; padding:12px 32px; border-radius:20px;
    font-weight:700; letter-spacing: -0.02em; font-size:1.13rem;
    background-color:#fff; margin-right:12px;
    display:inline-block;
}
#wrap main .tab_menu a:last-child {margin:0;}
#wrap main .tab_menu .active {border:0; background-color:#0046ff; color:#fff;}
/* ==========================================신용,가상,계좌 내용그룹 */
/* 서브페이지 기준 로그인, 회원가입, 설문조사, 게시판 등으로 form위주로 구성된
페이지일 경우 form은 너비가 넓을 수록 디자인이 시각적으로 보기 좋지 않아 실제 사이트
너비보다 작게 사용하는 경우가 많다. */
#wrap main .tab_container {
    width:720px; margin:10px auto 0;
}
#wrap main .tab_container #creditCardFrm,
#wrap main .tab_container #accountFrm,
#wrap main .tab_container #transferFrm {}
/* ==========================================신용카드 탭 클릭 시 활성화 내용 */
#wrap main .tab_container #creditCardFrm {}
#wrap main .tab_container #creditCardFrm dl {}
#wrap main .tab_container #creditCardFrm dl dt {
    font-size:1.13rem; letter-spacing: -0.02em; font-weight:600;
    margin-bottom:12px;
}
#wrap main .tab_container #creditCardFrm dl dd {position:relative; margin:0 0 35px;}
#wrap main .tab_container #creditCardFrm dl dd input[name^=approval],
#wrap main .tab_container #creditCardFrm dl dd input[name^=payment] {
    width:100%; border:1px solid #ccc; padding:15px 20px;
    border-radius:5px;
}
#wrap main .tab_container #creditCardFrm dl dd input[type=number]::placeholder {color:#aaa;}
#wrap main .tab_container #creditCardFrm dl dd input[name$=date] {
    background:#fff url(../images/customer/calendar_month.png) no-repeat 20px center;
    padding-left:55px;
}
#wrap main .tab_container #creditCardFrm dl dd input[name$=date]::-webkit-calendar-picker-indicator {
    background:none;
    position:absolute; width:100%;
}
#wrap main .tab_container #creditCardFrm ul {margin:0 0 25px;}
#wrap main .tab_container #creditCardFrm ul li {
    background:url(../images/customer/kid_star.png) no-repeat left center;
    padding-left:18px; color:#888;
    font-size:0.81rem; letter-spacing:-0.05em;
    margin-bottom:16px; white-space:nowrap;
}
#wrap main .tab_container #creditCardFrm ul li:last-child {margin:0;}
/* ==========================================개인정보 동의박스 시작 */
#wrap main .tab_container #creditCardFrm h2 {
    font-weight:600; font-size:1.13rem; letter-spacing:-0.02em;
    margin:0 0 16px;
}
#wrap main .tab_container #creditCardFrm .consent_box {
    border:1px solid #ccc; 
    border-radius:10px;
    padding:20px; margin:0 0 16px;
    height:238px; overflow:auto;
}
#wrap main .tab_container #creditCardFrm .consent_box h3,
#wrap main .tab_container #creditCardFrm .consent_box h4 {
    font-size:0.88rem; font-weight:600; letter-spacing:-0.02em;
    margin:0 0 20px;
}
#wrap main .tab_container #creditCardFrm .consent_box p {
    font-size:0.88rem; letter-spacing:-0.02em; line-height:1.4;
    color:#888; margin:0 0 20px;
}
#wrap main .tab_container #creditCardFrm .consent_box .info {
    border-top:1px solid #aaa;
}
#wrap main .tab_container #creditCardFrm .consent_box .info tbody {}
#wrap main .tab_container #creditCardFrm .consent_box .info tbody tr {}
#wrap main .tab_container #creditCardFrm .consent_box .info tbody tr > * {
    padding:15px 0 15px 15px;
    border-bottom:1px solid #aaa;
    font-size:0.81rem; letter-spacing:-0.02em;
}
#wrap main .tab_container #creditCardFrm .consent_box .info tbody tr th {
    width:150px;
    border-right:1px solid #aaa;
}
#wrap main .tab_container #creditCardFrm .consent_box .info tbody tr td {
    width:520px;
    line-height:1.3;
}
/* ==========================================개인정보 동의 체크박스+버튼 시작 */
#wrap main .tab_container #creditCardFrm .all_agree_box {margin-bottom:100px;}
#wrap main .tab_container #creditCardFrm .all_agree_box input[value*=all] {}
/*input radio, checkbox는 css개별디자인이 불가능하기 때문에 항상 input의 형제가 되는
또다른 요소를 생성해서(label, span 등) 배경이미지로 연결해야한다.*/
/*input형제요소를 생성했다면 그 형제요소선택자는 input 비활성화 배경이미지를 가지고
input:checked 상태선택자를 활용하여 선택됐을 시 활성화 배경이미지로 변경해준다.*/
#wrap main .tab_container #creditCardFrm .all_agree_box input[value*=all]:checked+label {
    background-image:url(../images/customer/check_box.png);
}
#wrap main .tab_container #creditCardFrm .all_agree_box label {
    background-image:url(../images/customer/check_box_n.png);
    background-repeat:no-repeat;
    background-position:left center;
    padding-left:24px;
}
#wrap main .tab_container #creditCardFrm .btn {
    text-align:center; margin-bottom:100px;
}
#wrap main .tab_container #creditCardFrm .btn .about_btn {
    background-color:#0046ff; color:#fff;
    border-radius:8px; width:160px; padding:16px 0;
    display:inline-block;
    font-weight:700; font-size:1.13rem;
}
/* ==========================================가상계좌 탭 클릭 시 활성화 내용 */
#wrap main .tab_container #accountFrm {}
/* ==========================================계좌이체 탭 클릭 시 활성화 내용 */
#wrap main .tab_container #transferFrm {}
/* ==========================================footer */
#wrap footer {}